@keyframes zi {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes ud {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes lr {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(10px);
  }
}

body {
  font-family: 'Overpass', -apple-system, sans-serif;
  margin: 0;
}

h1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

#cp {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 3fr;
  row-gap: 1.5em;
}

#cp h1 {
  margin: auto 1em;
  text-align: end;
}

.choose {
  padding: 10px;
  border-radius: 8px;
  background-color: #c6c6c6;
  width: 90%;
  max-width: 80vw;
  user-select: none;
  -webkit-user-select: none;
  box-shadow: .5em .5em .5em grey;
}

.les:hover,
.les:focus {
  transform: translateY(-10px);
  box-shadow: calc(.5em + 10px) calc(.5em + 10px) .5em grey;
}

.les:active {
  transform: scale(.95);
  box-shadow: none;
}

.chl {
  scroll-snap-type: y mandatory;
  height:200px;
  overflow: auto;
  border-radius: 8px;
  padding: 1em;
}

.les {
  border-radius: 8px;
  padding: 1em;
  background-color: #fff;
  display: block;
  transition: transform .2s, box-shadow .4s;
  position: relative;
  scroll-snap-align: start;
  width: 300px;
  box-shadow: .5em .5em .5em grey;
  margin: 0 1em;
}

.les>div:first-child {
  font-weight: bold;
}

.les>div:last-child {
  position: absolute;
  top: 1em;
  right: 1em;
}

.head {
  padding: 2em;
  font-size: clamp(1em, 3vw, 1.6em);
  background-image: linear-gradient(to top left, #9c27b0, #ff9800);
  color: #fff;
}

h1,p {
  margin: 0;
}

#mainwin {
  position: fixed;
  z-index: 9000;
  left: -105%;
  width: 100%;
  max-width: 100%;
  height: 100%;
  top: 0;
  background-color: #c6c6c6;
  transition: left .2s ease-in-out;
}

#content {
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
  left:0;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
}

#content div {
  font-size: 1.5em;
}

#par {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(246, 0%, 49%, 0.8);
}

.meaning {
  font-size: 13px !important;
}

.okbtn {
  background-color: #adadad;
  width: 90%;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  border: none;
  outline: none;
  transition: transform .4s;
  animation: zi .5s;
}

.btns {
  background-color: #adadad;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: transform .4s;
  animation: zi .5s;
}

.okbtn:active,
.btns:active {
  transform: scale(.9);
}

button {
  font-family: inherit;
}

.far, .fas {
  vertical-align: middle;
}

.noun:after,.adj:after,.singular:after {
  font-size: .6em;
  font-family: 'Overpass', sans-serif !important;
}

.noun:after {
  content: '(noun)';
}

.adj:after {
  content: '(adj.)';
}

.singular:after {
  content: '(sing.)';
}

@media (min-width: 700px) {
  #mainwin {
    width: 40%;
    max-width: 400px;
  }
  .les{
  	display: inline-block;
  	height: 100px;
  	margin: none
  }
  .chl{
  	scroll-snap-type: x mandatory;
  	overflow-x: auto;
  	white-space: nowrap;
  	height:150px;
  	padding: none !important
  }
}

@media (max-width: 690px) {
  #cp {
    justify-content: initial;
    grid-template-columns: calc(100% - 1.5em);
    row-gap: 0;
  }

  #cp h1 {
    margin-top: 1em;
    text-align: start;
  }

  .choose {
    max-width: none;
    width: 100%;
  }

  .les {
    margin: 1em 0 !important;
    width: calc(100% - 2em);
  }
}

.les i {
  font-size: 1.7em;
}

.tip{
	font-size: 13px;
	background-color: rgba(200,200,0,0.5);
	border:2px solid rgb(160,160,0);
	padding: 5px;
	border-radius: 5px;
	display: inline-block;
	font-size: 13px !important
}

.choice{
	padding: 5px;
	background-color: #adadad;
	font-size: 1rem;
	margin: 5px;
	border-radius: 8px;
}

.ans{
	border-bottom: 2px solid #adadad;
	min-height: 1rem;
	background-color: #bbb;
	padding: 4px;
	margin-top: 50px;
}
